#page-sort-anime {
  width: 90%;
  height: 90%;
  position: absolute;
  bottom: 5%;
  left: 5%;
  border-radius: 10px;
  border: var(--border-1);
  display: none;
  background: var(--color-fff);
  justify-content: normal;
  overflow: auto;
  display: none;
  z-index: 50;
}

.container-sort-anime {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 100%;
  height: max-content;
  align-content: center;
}

#container-sort-year {
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
}

.btn-sort {
  width: 90%;
  min-height: clamp(30px, 5vh, 40px);
  max-height: max-content;
  border-radius: 10px;
  margin: clamp(5px, 1.5vmax, 8px) auto;
  background: var(--gradient-3);
  overflow-wrap: break-word;
  padding: clamp(3px, 1vmin, 6px);
  
  &:hover {
    background: var(--gradient-5) !important;
    transform: scale(0.9);
  }
}


/*для альбомногл режиму*/
@media (orientation: landscape) {
  .container-sort-anime {
    grid-template-columns: repeat(6, 1fr);
  }
  
  #container-sort-year {
    grid-template-columns: repeat(10, 1fr);
  }
}