/*стилі для книжноі орієнтаціі*/
#weblite {
  position: relative;
  background: var(--gradient-4);
}

#main-banner {
  height: clamp(90px, 15%, 130px);
  flex-direction: row;
  border-bottom: var(--border-1);
  background: var(--gradient-1);
}

#logo-container {
  width: max-content;
  height: 40%;
  flex-direction: row;
  position: absolute;
  top: 10%;
  left: 3%;
  
  #logo-img {
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
  }
    
  #logo-text {
    margin: 0 0 0 1vw;
    background-image: var(--gradient-6);
    background-clip: text;
    color: transparent;
  }
}


#btn-theme-2 {
  width: auto;
  height: 75%;
  aspect-ratio: 1/1;
  margin: 0 clamp(5px, 2vmin, 10px) 0 0;
  background-image: url(../img/style/light-theme.svg);
}


/*гамбургер меню*/
#btn-menu {
  height: 40%;
  width: auto;
  aspect-ratio: 1/1;
  position: absolute;
  top: 10%;
  right: 3%;
  border-radius: 10px;
  background: var(--gradient-5);
  
  .line-menu {
    width: 70%;
    height: 10%;
    border-radius: 1vmin;
    background-color: var(--color-000);
    position: absolute;
    top: 20%;
    left: 15%;
    transition: 0.3s ease;
  }
  
  .line-menu-2 {
    top: 45%;
  }
  .line-menu-3 {
    top: 70%;
  }
}


/*анімації*/
#btn-menu.active {
  .line-menu {
    top: 45%;
    width: 90%;
    left: 5%;
  }
  
  .line-menu-1 {
    transform: rotate(45deg);
  }
  .line-menu-2 {
    opacity: 0;
  }
  .line-menu-3 {
    transform: rotate(-45deg);
  }
}


/*меню*/
#menu {
  position: absolute;
  top: 0%;
  right: clamp(-200px, -50%, -150px);
  width: clamp(150px, 50%, 200px);
  background-color: var(--color-fff);
  z-index: 99;
  transition: 0.3s ease;
  justify-content: normal;
  overflow: auto;
  
  #btn-main-page {
    background-image: var(--gradient-5);
  }
  
  .menu-btn {
    width: 90%;
    height: clamp(30px, 5vh, 40px);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-image: var(--gradient-3);
    white-space: nowrap;
    border-radius: 10px;
    margin: clamp(5px, 2vmin, 10px) auto;
    
    svg {
      width: auto;
      height: 75%;
      aspect-ratio: 1/1;
      margin: 0 clamp(5px, 2vmin, 10px) 0 0;
      aspect-ratio: 1/1;
    }
  }
}

#menu.active {
  right: 0%;
}




#container-input-search {
  height: 30%;
  width: 94%;
  border: var(--border-1);
  border-radius: 10px;
  flex-direction: row;
  padding-right: 2vw;
  position: absolute;
  bottom: 10%;
  left: 3%;
  background-color: var(--color-2);
  
  #input-search {
    text-align: center;
    border-radius: 10px;
    width: auto;
    flex: 1;
    height: 100%;
    background-color: inherit;
  }
  
  #btn-search {
    height: 70%;
    width: auto;
    aspect-ratio: 1/1;
  }
}


#btn-top-page,
#btn-bottom-page {
  position: fixed;
  bottom: 30%;
  right: 2vh;
  height: clamp(40px, 7%, 50px);
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background: var(--gradient-5);
  z-index: 9;
  cursor: pointer;
}
#btn-bottom-page {
  bottom: 20%;
}
#btn-top-page {
  display: none;
}
#btn-top-page > svg,
#btn-bottom-page > svg {
  width: 80%;
  height: 80%;
  margin: 10%;
  pointer-events: none;
}


#content-container {
  height: auto;
  flex: 1;
  overflow: hidden;
}


/*стилі для альбомноі орієнтації*/
@media (orientation: landscape) {
  #btn-top-page {
    bottom: 40%;
  }
  #btn-bottom-page {
    bottom: 20%;
  }
  
  /*top banner*/
  #main-banner {
    height: clamp(50px, 10%, 90px);
    justify-content: space-between;
  }
  
  #logo-container {
    height: 80%;
    position: static;
    margin: 0 2.5vw;
  }
  
  #container-input-search {
    height: clamp(25px, 70%, 50px);
    padding-right: 1vw;
    position: static;
    max-width: 300px;
    flex: 1;
  }
  
  #btn-menu {
    height: 80%;
    position: relative;
    inset: auto;
    margin: 0 2.5vw;
  }
}
/*207 рядків кода*/